<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{{ page.class }}">

    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-3 branding">
          <img src="/images/logo.svg" alt="{{ site.title }}" class="img-responsive">
          <span class="tagline"><span>Fresh</span><span>Food</span><strong>Faster</strong></span>
        </div>

        <div class="col-md-9 main">
          <div class="row content">
            <div class="col-md-10">
              {{ content }}
            </div>
            <div class="col-md-2 telephone animated bounceInDown">
              <div class="telephone-number">
                Tel: <a href="tel:{{ site.telephone }}" class="number">{{ site.telephone }}</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
